@charset "utf-8";

// framework vars
$fa-font-path: "~@fortawesome/fontawesome-free/WebFonts" !default;
$family-sans-serif: BlinkMacSystemFont, -apple-system, system-ui, "Helvetica Neue", sans-serif;

$body-background-color: #ffe2b8;
$body-color: #795548;
$primary: #795548;

$title-color: $body-color;

// Libraries & frameworks

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";

@import "~bulma/sass/form/_all.sass";

@import "~bulma/sass/components/level.sass";

@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/elements/notification.sass";


body {
  min-height: 100vh;
}

.app {
  max-width: 64rem;
  padding: 10vmin 1rem 0;
  margin-left: auto;
  margin-right: auto;
}